@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

html {
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
}

header {
    background-color: #4b4a67;
    color: #90fcf9;
    padding: 20px;
    text-align: center;
}

header h1 {
    padding: 10px 0;
    font-size: 50px;
}

.navbar {
    padding: 10px 0;
}

.navbar a {
    text-decoration: none;
    color: #90fcf9;
    padding: 0 5px;
}

.navbar a:hover {
    color: white;
}