@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&family=Roboto+Slab:wght@300;400&display=swap');

main {
    text-align: center;
    font-family: 'Cormorant Unicase', serif;
    padding-top: 20px;
  }
  
  .form-title {
    padding: 20px;
  }

  .form-title h1 {
      font-size: 45px;
  }

  .form-title p {
      padding: 20px 0;
      font-size: 25px;
  }
  
  #survey-form {
    display: inline-grid;
    text-align: left;
    padding: 20px 10px;
    background-color: gold;
    font-size: 25px;
  }
  
  .form-group {
      display: inline-grid;
      padding-bottom: 20px;
      margin: 5px 0;
  }

  .form-group p {
      margin-bottom: 10px;
  }

  .form-group input, select {
      padding: 10px;
  }

  .radio-group label, .check-group label {
      font-size: 22px;
  }

  #submit {
      padding: 10px 0;
  }

  input, button, select, textarea {
    margin: 0;
    font-family: 'Roboto Slab', serif;
  }

  textarea, button {
      font-size: 18px;
  }